a:link {
  color: green; /* unvisited link color */
  text-decoration: none; /* remove underline for unvisited links */
}

a:visited {
  color: pink; /* visited link color */
  text-decoration: none; /* remove underline for visited links */
}

a:hover {
  color: red; /* mouse hover color */
  text-decoration: underline; /* underline on hover */
}

a:active {
  color: yellow; /* active link color */
  text-decoration: none; /* remove underline for active links */
}
  
  
  
  
  
  
  

